# aliases
alias l='ls -lh'
alias la='ls -lah'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias bim='vim'
alias nv='nvim'

alias drive_sync_down='rclone -v sync GoogleDrive: /data/Rafael/drive'
alias drive_sync_up='rclone -v sync /data/Rafael/drive GoogleDrive:'

# key binding
bindkey '^[[H' beginning-of-line
bindkey '^[[F' end-of-line
