# python compiled files
*.pyc
*__pycache__*

# submission auxiliary files
scripts/submission/log_file
scripts/submission/nohup.out
scripts/submission/inpdir
scripts/submission/submitted

# others
scripts/compchem_scripts/bin/.vscode/*

